# تعيين السلوك الافتراضي للتعامل مع نهايات الأسطر تلقائياً
* text=auto
# التأكد من أن ملفات البرمجة تستخدم LF دائماً عند الرفع (لأن السيرفرات تعمل بنظام Linux)
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf